html,body{
    width: 100vw;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
*{
    padding: 0px;
    margin: 0px;
}
#item1{
width:100vw;
height:40vh;
background-color: lightgray;
display: flex;
}
#item1>h1{
 flex-flow: row nowrap;
 justify-content: ;
}
#item2{
width:80vw;
height:51vh;
background-color: gray;
margin: auto;
padding: 10vw;
}


form input{
margin: 10px 0px;
width: 100%;
height: 40px;
}

input#button{
    display: block;
    margin: 15px 0px;
    border: 0px;
}