*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    height: 100vh;
    width: 100vw;
}
footer{
  position: absolute;
  bottom: 0px;
  margin:20px 0px ;
  text-align: center;
display: block;
width: 100vw;
}